<%- include('partials/_header') %>




    <%- include('partials/_navbar') %>



        <div class="analysis-container">
            <h2>Rüya Analizi</h2>
            <p>
                <%= dream.analysis %>
            </p>

            <br><br>

            <% if (!dream.story && dream.analysis.trim() !=="Analiz Yapılamadı" ) { %>
                <a href="/dream/story/<%= dream._id %>"><button id="story-btn" class="loading-btn">Hikaye</button></a>
                <% } %>

                    <br><br>
                    <% if (!dream.url) { %>
                        <a href="/dream/image/<%= dream._id %>"><button id="image-btn" class="loading-btn">Rüyanı
                                Resmet</button></a>
                        <% } %>

        </div>




        <div id="loading-screen" class="loading-screen">
            <div class="loading-container">
                <div class="spinner"></div>
                <p>Yükleniyor...</p>
            </div>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const loadingButtons = document.querySelectorAll('.loading-btn');
                const loadingScreen = document.getElementById('loading-screen');

                loadingButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        loadingScreen.style.display = 'flex';

                    });
                });
            });
        </script>




        <%- include('partials/_footer') %>