<%- include('partials/_header') %>



    <%- include('partials/_navbar') %>



        <div class="analysis-container">
            <h2>Rüya Analizi</h2>
            <p>
                <%= dream.analysis %>
            </p>

            <br><br>

            <% if (!dream.story && dream.analysis.trim() !=="Analiz Yapılamadı" ) { %>
                <a href="/dream/story/<%= dream._id %>"><button id="stry-btn">Hikaye</button></a>
                <% } %>

                    <br><br>
                    <% if (!dream.url) { %>
                        <a href="/dream/image/<%= dream._id %>"><button id="stry-btn">Rüyanı Resmet</button></a>
                        <% } %>

        </div>




        <div id="loading-screen" class="loading-screen">
            <div class="loading-container">
                <div class="spinner"></div>
                <p>Yükleniyor...</p>
            </div>
        </div>


        <script>


            const form = document.getElementById('stry-btn');
            const loadingSpinner = document.getElementById('loading-screen');

            form.addEventListener('submit', function (event) {
                // Show the loading spinner when the form is submitted
                loadingSpinner.style.display = 'block';
            });

        </script>







        <%- include('partials/_footer') %>